* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpghttps://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg");
  background-size: cover;
  color: #333;
  top: 100px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px;
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movie-info {
  flex: 1 1 25%;
  padding-right: 20px;
  text-align: center;
}

.poster {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.movie-details h4 {
  font-size: 1.5em;
  margin: 15px 0;
  color: white;
  font-weight: bold;
}

.movie-details p {
  font-size: 0.9em;
  margin: 5px 0;
  color: #ccc;
}

.schedule {
  flex: 1 1 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.date-column {
  flex: 1 1 150px;
  background: #242424;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.date-header {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1em;
  color: #ffffff;
}

.showtime-card {
  background: linear-gradient(to right, #243642, #1a252d);
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showtime-card:hover {
  transform: translateY(-5px);
  background: grey;
}

.showtime-card h6 {
  margin: 5px 0;
  font-size: 0.9em;
  font-weight: normal;
}

.showtime-card .version {
  font-size: 0.8em;
  color: #ffebcc;
  margin-top: 5px;
}

.no-showtimes {
  color: #888;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  padding: 10px;
}
.movie-posters,
.movie-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie-posters img,
.movie-gallery img {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .movie-container {
    flex-direction: column;
  }

  .movie-info,
  .schedule {
    flex: 1 1 100%;
  }
}
